@import url('https://fonts.googleapis.com/css?family=Anton|Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Open+Sans&display=swap');
$Anton: 'Anton', sans-serif;
$WorkSans: 'Work Sans', sans-serif;
$Merri: "Merriweather" , sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$light-black: #2e2c2caf;
$bggradient: linear-gradient(to right, #FFFFFF, #ECE9E6); 
$light-gray: rgba(31, 30, 30, 0.877);
$mainPink: #c33764;
$mainPurple: rgb(133,128,253);
$mainBlack: rgb(63,61,86);
$dark: #211E32;
$green: #06808D;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
}
html,
body {
    scroll-behavior: smooth;
    background: #F7F1EF;
    color: #211E32;
    min-width: 345px;
    font-family: "Merriweather , Open Sans";
    font-size: 16px;
  }
  .laptop {
    position: absolute;
    top: -10%;
    right:0;
    opacity: .6;
    }
header,
section {
    overflow-x: hidden;
}



header {
    display: flex;
    justify-content: center;
    .row .col-md-7 {
        padding: 10vmin 1vmin;
        font-family: $Merri;
        color: $mainBlack;
        
    }
    .container .col-md-7 {
        position: relative;
        h1 {
            font-size: 8vmin;
            font-size: 4rem;;
            font-weight: bold;
            line-height: 1;
            padding: 0.1em 0em;
        }
        .motto {
            font-size: 18px;
            font-weight: 600;
            padding: 0.1em 0em;
        }
       .cta-btn {
            border-radius: 30px;
            font-weight: bold;
            background-color: $mainPurple;
            color: whitesmoke;
            &:hover {
                opacity: .8;
                transform: scale(1.04);
                transition: all .4s ease-in-out;
            }
        }
    }
}

.top-nav {
    margin-top: 6rem;
    h2 {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 1rem;
    }
    li {
      font-size: 20px;
      list-style: none;
      display: inline;
      padding-right: 20px;
      position: relative;
      a {
        text-decoration: none;
        color: #211E32;
      }
      }
  
    }
    .link::after {
        content: '';
        display: none;
        position: absolute;
        top: 24px;
        left: 0;
        height: 3px;
        width: 80%;
        background: #c33764;
        border-bottom: 3px solid red;
    }
    .link:hover::after{
        display: inline;
    }



//   Projects ------
.projects-section {
    h1 {
        opacity: 0.2;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 2rem;
    }
}


.proj-card {
    margin-bottom: 10px;
    h2 {
      font-family: $Anton;
      font-size: 30px;
      margin-bottom: 1.4rem;
    }
    p {
      font-family: $WorkSans;
      font-family: $OpenSans;
      font-size: 18px;
      padding-right: 10rem;
      
    }
  }
  .view {
    background: $dark;
    color: #fff;
    font-family: $Anton;
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    outline-style: none;
  }
  .view:hover {
    color: $green;
    background: rgba(33, 30, 50, 0.822);
    transition: all .2s ease-in-out;
  }
  .proj-rect {
    border-radius: 15px;
    img {
        width: 90%;
        min-width: 280px;
        border-radius: 10px;
    }
  }





//  CONTACT --------

.contact-section {
    padding: 0 8rem;
    margin-bottom: 4rem;
    h1 {
        opacity: 0.2;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 2rem;
    }
}
.contact {
    background: $dark;
    color: white;
    border-radius: 30px;
    padding: 4rem 6rem;
    .top-line {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    h2 {
        font-family: $WorkSans;
        font-size: 24px;
        display: inline-block;
        margin-right: 6rem;
        
    }
    span {
        display: inline-block;
        justify-items: center;
        align-items: center;
        a {
            color: white;
            &:hover {
                color: #329AF0;
            }
        }
        i {
            font-size: 24px;
            margin-right: 10px;
            
        }
    }
    .form-name {
        input {
            width: 50%;
            height: 38px;
        }
    }
    .form-email {
        input {
            width: 75%;
            height: 40px;
        }
    }
    label {
        display: block;
        font-family: $Anton;
        font-size: 24px;
    }
    input, textarea {
        border-radius: 10px;
        border: none;
        outline: none;
        margin-bottom: 2rem;
        font-family: $WorkSans;
        font-size: 16px;
        padding-left: 8px;
    }
    textarea {
        width: 100%;
        height: 160px;
    }
    button {
        font-family: $Anton;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 4px 36px;
        outline: none;
        border: none;
        &:hover {
            color: white;
            background-color: $mainBlack;
            transform: translateY(2px);
        }
    }
}
footer {
    overflow: hidden;
    background-image: url('./assets/wave.svg');
    background-repeat: no-repeat;
  background-size: cover;
    height: 38vh;
}
.wave {
    position: absolute;
    overflow-x: hidden;
}